<!DOCTYPE html>
<html>
  <head>
    <title>图书馆助手 - 使用统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/app.png" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="logo-text">
          <img class="logo" src="/images/app.png"/>
          <span class="text">图书馆助手 使用统计</span>
        </div>
        <div class="header-links">
          <a class="link" target="_blank" href="https://home.cs-tao.cc/whu-library-seat/">使用文档</a>
          <a class="link" target="_blank" href="https://github.com/CS-Tao/whu-library-seat/">项目地址</a>
        </div>
      </div>
      <div class="main-wrapper">
        <div class="main">
          <div class="chart-wrapper-frame">
            <div class="chart-and-btn">
              <div class="chart-wrapper year-chart-wrapper">
                <div v-show="yearDataPanel==='year-data'" id="heatmap"></div>
                <div v-show="yearDataPanel==='year-data-all'" id="heatmap-all"></div>
              </div>
              <div class="export-btn-group">
                <button :class="{'btn-active':yearDataPanel==='year-data-all'}" @click="yearDataPanel='year-data-all'">使用记录</button>
                <button :class="{'btn-active':yearDataPanel==='year-data'}" @click="yearDataPanel='year-data'">预约记录</button>
                <button class="export-btn" @click="exportGraph(yearDataPanel)">导出</button>
              </div>
            </div>
            <div class="chart-and-btn">
              <div class="chart-wrapper daytrend-chart-wrapper">
                <div id="day-trend"></div>
              </div>
              <div class="export-btn-group" style="margin-left:21px">
                <button class="btn-only-one">使用趋势</button>
                <button class="export-btn" @click="exportGraph('day-trend')">导出</button>
              </div>
            </div>
          </div>

          <div class="chart-and-btn">
            <div class="chart-wrapper" style="height: 280px">
              <div v-show="tagPanel==='desktop-info'" id="download-info"></div>
              <div v-show="tagPanel==='mobile-info'" id="download-info-m"></div>
            </div>
            <div class="export-btn-group">
              <button :class="{'btn-active':tagPanel==='desktop-info'}" @click="tagPanel='desktop-info'">桌面端下载量</button>
              <button :class="{'btn-active':tagPanel==='mobile-info'}" @click="tagPanel='mobile-info'">移动端下载量</button>
              <button class="export-btn" @click="exportGraph(tagPanel)">导出</button>
            </div>
          </div>

          <div style="display:flex;flex-direction:row;">
            <div class="chart-wrapper project-list-wrapper">
              <span class="title">项目信息</span>
              <div class="project-wrapper" v-for="project in projectList">
                <div class="project">
                  <span class="project-name" @click="openLink(project.link)">{{project.name}}</span>
                  <span class="project-desc">{{project.desc}}</span>
                  <div class="project-star">
                    <iframe :src="`https://ghbtns.com/github-btn.html?user=CS-Tao&repo=${project.repo}&type=watch&count=true&size=small&v=2`" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                    <iframe :src="`https://ghbtns.com/github-btn.html?user=CS-Tao&repo=${project.repo}&type=star&count=true&size=small&v=2`" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                    <iframe :src="`https://ghbtns.com/github-btn.html?user=CS-Tao&repo=${project.repo}&type=fork&count=true&size=small&v=2`" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div style="display:flex;flex-direction:column;">
              <div class="chart-wrapper-frame" style="display:flex;flex-direction:row;">
                <div class="chart-and-btn" style="margin-right:15px">
                  <div class="chart-wrapper pie-wrapper">
                    <div id="grade-pie"></div>
                  </div>
                  <div class="export-btn-group">
                    <button class="btn-only-one">年级分布</button>
                    <button class="export-btn" @click="exportGraph('grade-pie')">导出</button>
                  </div>
                </div>
                <div class="chart-and-btn">
                  <div class="chart-wrapper pie-wrapper">
                    <div id="college-pie"></div>
                  </div>
                  <div class="export-btn-group">
                    <button class="btn-only-one">院系分布</button>
                    <button class="export-btn" @click="exportGraph('college-pie')">导出</button>
                  </div>
                </div>
              </div>
              <div class="chart-wrapper-frame">
                <div class="chart-and-btn">
                  <div class="chart-wrapper day-or-device">
                    <div v-show="dayOrDevicePanel==='day-panel'" id="hourline"></div>
                    <div v-show="dayOrDevicePanel==='device-panel'" id="deviceline"></div>
                  </div>
                  <div class="export-btn-group">
                    <button :class="{'btn-active':dayOrDevicePanel==='day-panel'}" @click="dayOrDevicePanel='day-panel'">按小时记录</button>
                    <button :class="{'btn-active':dayOrDevicePanel==='device-panel'}" @click="dayOrDevicePanel='device-panel'">按设备记录</button>
                    <button class="export-btn" @click="exportGraph(dayOrDevicePanel)">导出</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <el-container id="data-list" v-show="dataForShow">
            <el-header id="data-list-header">
              <span>设备</span>
              <el-select v-model="selectedDevice">
                <el-option v-for="item in deviceList" :key="item" :label="item === 'All' ? 'All' :(item === 0 ? '桌面端' : '移动端')" :value="item"></el-option>
              </el-select>
              <span>状态</span>
              <el-select v-model="selectedStatus">
                <el-option v-for="item in statusList" :key="item" :label="item === 'All' ? 'All' :(item === 0 ? '失败' : '成功')" :value="item"></el-option>
              </el-select>
              <span>事件</span>
              <el-select v-model="selectedEventType">
                <el-option v-for="item in eventTypeList" :key="item" :label="item === 'All' ? 'All' :(item === 'login' ? '登录' : '抢座')" :value="item"></el-option>
              </el-select>
              <span>事件代码</span>
              <el-select v-model="selectedEventCode">
                <el-option v-for="item in eventCodeList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
              <span>账号</span>
              <el-select v-model="selectedAccount" filterable>
                <el-option v-for="item in accountList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
              <span>GitHub id</span>
              <el-select v-model="selectedGithubId" filterable>
                <el-option v-for="item in githubIdList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
              <span>软件版本</span>
              <el-select v-model="selectedVersion">
                <el-option v-for="item in versionList" :key="item" :label="item === 'All' ? 'All' : 'v'+item" :value="item"></el-option>
              </el-select>
            </el-header>
            <el-main style="margin: 0">
              <el-table :data="dataForShow" :border="true" :stripe="true" height="500">
                <el-table-column width="60" prop="id" label="Id"></el-table-column>
                <el-table-column width="90" prop="mobile" label="设备">
                  <template slot-scope="scope">
                    <i v-if="(scope.row.mobile === null || scope.row.mobile === 0)" class="el-icon-menu" style="color: #409EFF"></i>
                    <i v-else class="el-icon-mobile-phone" style="color: #909399"></i>
                    <span style="margin-left: 5px" :style="{color: (scope.row.mobile === null || scope.row.mobile === 0) ?  '#409EFF': '#909399'}">{{ (scope.row.mobile === null || scope.row.mobile === 0) ? '桌面端' : '移动端' }}</span>
                  </template>
                </el-table-column>
                <el-table-column width="80" label="状态">
                  <template slot-scope="scope">
                    <i v-if="scope.row.state === 1" class="el-icon-success" style="color: green"></i>
                    <i v-else class="el-icon-error" style="color: red"></i>
                    <span style="margin-left: 5px">{{ scope.row.state === 0 ? '失败' : '成功' }}</span>
                  </template>
                </el-table-column>
                <el-table-column width="80" prop="event" label="事件">
                  <template slot-scope="scope">
                    <i v-if="scope.row.event === 'login'" class="el-icon-phone" style="color: #909399"></i>
                    <i v-else class="el-icon-phone-outline" style="color: #E6A23C"></i>
                    <span style="margin-left: 5px" :style="{color: scope.row.event === 'login' ? '#909399' : '#E6A23C'}">{{ scope.row.event === 'login' ? '登录' : '抢座' }}</span>
                  </template>
                </el-table-column>
                <el-table-column width="55" prop="code" label="Code"></el-table-column>
                <el-table-column width="60" label="版本">
                  <template slot-scope="scope">
                    <span>{{ 'v' + scope.row.version }}</span>
                  </template>
                </el-table-column>
                <el-table-column width="60" label="消息">
                  <template slot-scope="scope">
                    <span v-if="scope.row.message" @click="showMessage(scope.row.message)" class="message-text">查看</span>
                    <span v-else>无</span>
                  </template>
                </el-table-column>
                <el-table-column width="170" label="时间">
                  <template slot-scope="scope">
                    <i class="el-icon-time"></i>
                    <span style="margin-left: 5px">{{ scope.row.year + '-' + fill0(scope.row.month) + '-' + fill0(scope.row.day) + ' ' + fill0(scope.row.hour) + ':' + fill0(scope.row.min) + ':' + fill0(scope.row.sec) }}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="account" label="账号 (加密)" width="240"></el-table-column>
                <el-table-column prop="githubId" label="Github Id (加密)" width="240"></el-table-column>
              </el-table>
             <p style="text-align: left;">已显示最近 {{countOfSelected}} 条数据</p>
            </el-main>
          </el-container>
        </div>
      </div>
      <span class="copyright">Copyright © since 2018 CS-Tao</span>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
  <script src="/js/vue.me.js"></script>
</html>
