@import './variables.scss';
@import './flex.scss';
@import './element-ui.scss';

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: $bg-color-highlight;
	&-thumb {
		background-color: $text-color-lowlight;
	}
}
a:-webkit-any-link {
	color: $button-green;
}
ul {
  padding-left: 25px;
}
body {
	margin: 0;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYiMicro Hei",sans-serif;
  	user-select: none;
	  -webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}
.main {
	height: 100vh;
	width: 100vw;
	min-width: 350px;
	.header {
		position: fixed;
		top: 0;
		width: 100vw;
		margin: 0;
		z-index: 9;
		background-color: $bg-color-2;
		height: $layout-header-h;
		box-shadow: 0 1px 2px black;
		transition: height $transition-header-timeout + 0.3;
	}
	.header-unlogin {
		height: $layout-header-unlogin-h;
		transition: height $transition-header-timeout;
	}
	.body {
		position: fixed;
		top: 0;
		height: $layout-body-h;
		width: 100vw;
		margin: 0;
		z-index: 8;
		background-color: $bg-color-1;
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100vw;
		margin: 0;
		z-index: 10;
		background-color: $bg-color-2;
		height: $layout-footer-h;
		box-shadow: 0 -1px 2px black;
  }
  .footer-unlogin {
		box-shadow: 0 0 1px $second-color;
  }
}
