$primary-color: rgb(77, 136, 255);
$second-color: rgb(153, 153, 153);

$bg-color-1: rgb(28, 30, 35);
$bg-color-2: rgb(49, 54, 65);

$text-color: rgb(215, 215, 215);

$button-green: rgb(0, 204, 0);
$button-blue: rgb(77, 136, 255);
$button-red: rgb(255, 21, 21);
$button-yellow: rgb(255, 255, 0);

$button-blur-opacity: 0.6;
$button-focus-opacity: 0.8;
$button-click-opacity: 1;
